<div class="ui menu header">
  <div class="ui container">
    <div class="item">
      <a routerLink="../customers" aria-label="Gym Management Dashboard">
        <i class="icon users large blue" aria-hidden="true"></i>
      </a>
    </div>
      <div class="header item">
        <h1>Gym Management Dashboard</h1>
      </div>
      <div class="item" *ngIf="authenticate.isLoggedOut()">
        <a routerLink="../register">
        <button class="ui basic button">
          <i class="add user icon" aria-hideen="true">
            Sign Up
          </i>
        </button>
        </a>
        <!-- <div class="item"> -->
          <a routerLink="../login">
          <button class="ui basic button">
            <i class="add user icon" aria-hideen="true">
              Sign In
            </i>
          </button>
          </a>
      <!-- </div> -->
    </div>
    <div class="header item">
      <a routerLink="../plans">
      <button class="ui basic button">
        <i class="user circle outline icon" aria-hidden="true">
          View Plan
        </i>
      </button>
    </a>
    <a routerLink="../add-plan">
      <button class="ui basic button" *ngIf="authenticate.isLoggedIn()">
        <i class="user circle outline icon" aria-hidden="true">
          Add Plan
        </i>
      </button>
    </a>
    </div>
    <div class="header item">
      <a routerLink="../add-user">
      <button class="ui basic button" *ngIf="authenticate.isLoggedIn()">
        <i class="user circle outline icon" aria-hidden="true">
          Add User
        </i>
      </button>
      </a>
    </div>
    <div class="right menu" *ngIf="authenticate.isLoggedIn()">
      <button class="ui primary button logout" (click)="logout()">logout</button>
    </div>
  </div>
  </div>

