
<div class="ui cards">
  <div class="card">
    <div class="content">
     
      <div class="header">
        {{customer.firstName}} {{customer.lastName}}
      </div>
      <div class="meta">
        {{customer.phone}}
      </div>
      <div class="description">
        {{customer.email}}
      </div>
    </div>
    <div class="extra content">
      <div class="ui three buttons">
        <button class="ui basic green button">Approve</button>
        <button class="ui basic blue button">Modify</button>
        <button class="ui basic red button">Decline</button>
      </div>
    </div>
  </div>
  </div>
