<div class="register-container">
    <div class="ui icon message" *ngIf="newCustomer">
        <i class="notched check green icon"></i>
        <i class="close icon" (click)="newCustomer = null"></i>
        <div class="content">
          <div class="header">
            New customer registered!
          </div>
          <p>Email: {{newCustomer.email}}</p>
        </div>
    </div>

<form class="ui big form" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
    <div class="field">
      <label>First Name</label>
      <input id="firstName" type="text" class="form-control" name="firstName" required pattern="[A-Z]{1}[a-z].{0,}"
       placeholder="First Name" [(ngModel)]="customer.firstName" #firstName="ngModel">
      <div [hidden]="firstName.valid || firstName.pristine"
      class="alert alert-danger">
          The first word must be uppercase!
      </div>
    </div>

    <div class="field">
      <label>Last Name</label>
      <input id="lastName" type="text" class="form-control" name="lastName" required pattern="[A-Z]{1}[a-z].{0,}" 
      placeholder="Last Name" [(ngModel)]="customer.lastName" #lastName="ngModel">
      <div [hidden]="lastName.valid || lastName.pristine"
      class="alert alert-danger">
          The first word must be uppercase!
      </div>
    </div>

    <div class="field">
      <label for="phone">Phone</label>
      <input id="phone" type="number" class="form-control" required pattern="[0-9]{10}" placeholder="Phone" [(ngModel)]="customer.phone" name="phone" #phone="ngModel">
      <div [hidden]="phone.valid || phone.pristine"
      class="alert alert-danger">
          Phone number must be 10 digits.
      </div>
    </div>

    <div class="field">
      <label for="email">Email</label>
      <input id="email" type="email" class="form-control" required name="email"
       pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
       placeholder="Email" [(ngModel)]="customer.email" #email="ngModel">
       <div [hidden]="email.valid || email.pristine"
       class="alert alert-danger">
           Ops! Missing "@" or ".com", please enter a valid email.
      </div>
    </div>
    
    <div class="inline fields">
        <label>Interested training plan:</label>
          <input type="radio" required name="type" value="A" ngModel> A-Slim<br>
          <input type="radio" required name="type" value="B" ngModel> B-Muscle<br>
          <input type="radio" required name="type" value="C" ngModel> C-Fitness<br>
    </div>
    <button type="submit" class="ui primary button float right floated"
    [disabled]="registerForm.invalid">Register</button>
  </form>
</div>