<div class="add-plan-container">

    <div class="ui icon message" *ngIf="newPlan">
    <i class="notched check green icon"></i>
    <i class="close icon" (click)="newPlan = null"></i>
    <div class="content">
      <div class="header">
        New plan added!
      </div>
      <p>Title: {{newPlan.title}}</p>
    </div>
  </div>

  <form class="ui big form" #addPlanForm="ngForm" (ngSubmit)="onSubmit(addPlanForm)"> 
    <h4 class="ui dividing header">Plan information</h4>
    <div class="field">
      <label>Title</label>
        <input type="text" name="title" required placeholder="Title" ngModel>
      </div>
    <div class="field">
        <h4 class="ui dividing header">Date & Time</h4>
      <div class="fields">
        <div class="three wide field">
          <label>Start time</label>
          <input type="text" id="start" class="form-control" name="start" 
          pattern="([01]?[0-9]{1}|2[0-3]{1}):[0-5]{1}[0-9]{1}" required 
          placeholder="Start time" [(ngModel)]="plan.start" #start="ngModel" >
          <div [hidden]="start.valid || start.pristine"
             class="alert alert-danger">
          Please enter the time in xx:xx.
          </div>
        </div>
        <div class="three wide field">
          <label>Duration(hr)</label>
          <input type="text" id="duration" class="form-control" name="duration" required placeholder="duration"
          pattern="[1-3]{1}" [(ngModel)]="plan.duration" #duration="ngModel">
          <div [hidden]="duration.valid || duration.pristine"
             class="alert alert-danger">
             <div class="ui negative message">
                <div class="text">
              duration between 1 - 3 hours!!
                </div>
            </div>
          </div>
        </div>
        </div>
        <div class="fields">
        <div class="inline fields">
          <label>Week</label>
          <input type="radio" name="week" value="Monday" required ngModel>Monday<br>
          <input type="radio" name="week" value="Tuesday" required ngModel>Tuesday<br>
          <input type="radio" name="week" value="Wednesday" required ngModel>Wednesday<br>
          <input type="radio" name="week" value="Thursday" required ngModel>Thursday<br>
          <input type="radio" name="week" value="Friday" required ngModel>Friday<br>
          <input type="radio" name="week" value="Saturday" required ngModel>Saturday<br>
          <input type="radio" name="week" value="Sunday" required ngModel>Sunday<br>
        </div>
      </div>
    </div>
    <div class="field">
      <label>Coach</label>
      <input type="text" id="coach" class="form-control" name="coach" required placeholder="Coach"
      pattern="[A-Z]{1}[a-z].{0,}" [(ngModel)]="plan.coach" #coach="ngModel">
      <div [hidden]="coach.valid || coach.pristine"
             class="alert alert-danger">
             <div class="ui negative message">
                <div class="header">
                    Coach name should be uppercase!
                </div>
            </div>
          </div>
    </div>
    <div class="field">
      <label>Content</label>
      <input type="text" name="content" required placeholder="Training plan's content" ngModel>
    </div>
    <div class="inline fields">
        <label>Type of training plan:</label>
          <input type="radio" required name="type" value="A" ngModel> A-Slim<br>
          <input type="radio" required name="type" value="B" ngModel> B-Muscle<br>
          <input type="radio" required name="type" value="C" ngModel> C-Fitness<br>
    </div>
    <button type="submit" [disabled]="addPlanForm.invalid" class="ui submit large blue button right floated">Submit</button>
  </form>
</div>
